@page
@model Pizzerito.Pages.Customer.Home.IndexModel
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@foreach (var category in Model.CategoryList)
{
    @foreach (var toppingType in Model.ToppingTypeList)
    {
        var PizzaCatCount = Model.PizzaTypeList.Where(c => c.CategoryId == category.Id).Count();
        var PizzaTypeCount = Model.PizzaTypeList.Where(t => t.ToppingTypeId == toppingType.Id).Count();

        <div class="row container p-0 m-0 backgroundWhite">
            <div class="col-12">
                <div class="row ">
                    <h2 class="text-primary text-capitalize font-weight-light pl-1"><b> @Localizer[@category.Name]<span>@Localizer["s"]</span> </b></h2>
                    <div class="col-12">
                        <div class="row my-3">
                            @foreach (var menuItem in Model.PizzaTypeList.Where(c => c.ToppingTypeId == toppingType.Id))
                            {
                                <div class="col-md-4 p-0">
                                    <div class="card-body h-100">
                                        <div class="card card-product  h-100">
                                            <div class="rounded-lg">
                                                <img src="@menuItem.Image" class="card-img-top rounded " />
                                            </div>
                                            <div class="card-body d-flex flex-column py-0 ">
                                                <ul class="list-group list-group-flush overflow-hidden text-left card-block">
                                                    @if (menuItem.PizzaSize.Size == "xlarge")
                                                    {
                                                        <li class="list-group-item border-0 py-0">

                                                            <h4 class="w-25 text-white text-center">
                                                                <b>
                                                                    <span class="dot dot-yellow" style="line-height: normal;">
                                                                        @SharedLocalizer["XL"]
                                                                    </span>
                                                                </b>
                                                            </h4>
                                                        </li>
                                                    }
                                                    else if (menuItem.PizzaSize.Size == "large")
                                                    {
                                                        <li class="list-group-item border-0 py-0">
                                                            <h4 class="w-25 text-white text-center">
                                                                <b>
                                                                    <span class="dot dot-green" style="line-height: normal;">
                                                                        @SharedLocalizer["L"]
                                                                    </span>
                                                                </b>
                                                            </h4>
                                                        </li>
                                                    }
                                                    else if (menuItem.PizzaSize.Size == "medium")
                                                    {
                                                        <li class="list-group-item border-0 py-0">
                                                            <h4 class="w-25 text-white text-center">
                                                                <b>
                                                                    <span class="dot dot-blue" style="line-height: normal;">
                                                                        @SharedLocalizer["M"]
                                                                    </span>
                                                                </b>
                                                            </h4>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-group-item border-0 py-0">
                                                            <h4 class="w-25 text-white text-center">
                                                                <b>
                                                                    <span class="dot dot-red" style="line-height: normal;">
                                                                        @SharedLocalizer["S"]
                                                                    </span>
                                                                </b>
                                                            </h4>
                                                        </li>
                                                    }

                                                    <li class="list-group-item border-0"><p class="card-title"><b>@SharedLocalizer[@menuItem.Name]</b></p></li>
                                                    <li class="list-group-item border-0">
                                                        <div class="text-left font-weight-light text-primary h5">
                                                            <b>@(menuItem.Price.ToString("C", CultureInfo.CurrentCulture))</b>
                                                         </div>
                                                    </li>
                                                </ul>
                                                <a asp-page="Details" class=" btn-product red mt-auto text-center text-nowrap text-decoration-none" asp-route-id="@menuItem.Id"> @Localizer["Details"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


@section Scripts{
    <script src="~/js/slider.js"></script>
}


