@page
@model Pizzerito.Pages.Customer.Cart.OrderConfirmationModel
@{
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">@Localizer["Order Placed Successfully!"]</h1>
        @Localizer["Your Order Number is"]: @Model.orderId <br /><br />
        <img src="~/images/pizza.gif" style="width:65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon;">
        <br />
        @Localizer["Your order has been placed successfully!"] <br />
        @Localizer["Please make sure to arrive on time to pick it up!"]
    </div>
</div>