@page
@model Pizzerito.Pages.Admin.PizzaType.UpsertModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.PizzaTypeObj.PizzaType.Id != 0)
            {
                <input type="hidden" asp-for="PizzaTypeObj.PizzaType.Id" />
            }
            <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                <h2 class="text-primary font-weight-light">@(Model.PizzaTypeObj.PizzaType.Id != 0 ? @Localizer["Update"] : @Localizer["Create New"])Menu Item</h2>
            </div>

            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.Name">@Localizer["Pizza type"]</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" onkeyup="this.value = this.value.toLowerCase();" asp-for="PizzaTypeObj.PizzaType.Name" />
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.Price">@Localizer["Pizza price"]</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" onkeyup="this.value = this.value.toLowerCase();" asp-for="PizzaTypeObj.PizzaType.Price" />
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.Price"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.Description">@Localizer["Pizza description"]</label>
                    </div>
                    <div class="col-9">
                        <textarea class="form-control"
                                  onkeyup="this.value = this.value.toLowerCase();"
                                  asp-for="PizzaTypeObj.PizzaType.Description"
                                  id="txtDesc"
                                  style="height:200px;">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.Image">@Localizer["Pizza image"]</label>
                    </div>
                    <div class="col-9">
                        <input type="file" class="form-control" name="files" id="uploadBox" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.CategoryId">@Localizer["Pizza category"]</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.CategoryId,
                                                Model.PizzaTypeObj.CategoryList,
                                                @Localizer["- Please select a Category -"].Value,
                                                new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.CategoryId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingTypeId">@Localizer["Pizza topping"]</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingTypeId,
                                                Model.PizzaTypeObj.ToppingTypeList,
                                                @Localizer["- Please select a Topping Type -"].Value,
                                                new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.ToppingTypeId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.PizzaCrustTypeId">@Localizer["Pizza crust type"]</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.PizzaCrustTypeId,
                                                Model.PizzaTypeObj.PizzaCrustTypeList,
                                                @Localizer["- Please select a Crust Type -"].Value,
                                                new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.PizzaCrustTypeId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.PizzaCrustFlavorId">@Localizer["Pizza crust flavor"]</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.PizzaCrustFlavorId,
                                                Model.PizzaTypeObj.PizzaCrustFlavorList,
                                                @Localizer["- Please select a Crust Flavor -"].Value,
                                                new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.PizzaCrustFlavorId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.PizzaSizeId">@Localizer["Pizza size"]</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.PizzaSizeId,
                                                Model.PizzaTypeObj.PizzaSizeList,
                                                @Localizer["- Please select a Pizza Size -"].Value,
                                                new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="PizzaTypeObj.PizzaType.PizzaSizeId"></span>
                    </div>
                </div>
                @*Toppings section that goes with the special pizza*@
                @*TODO: Add checkbox instead of dropdown*@

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingOneId">@Localizer["Pizza topping"] 1</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingOneId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingTwoId">@Localizer["Pizza topping"] 2</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingTwoId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingThreeId">@Localizer["Pizza topping"] 3</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingThreeId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingFourId">@Localizer["Pizza topping"] 4</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingFourId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingFiveId">@Localizer["Pizza topping"] 5</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingFiveId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingSixId">@Localizer["Pizza topping"] 6</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingSixId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingSevenId">@Localizer["Pizza topping"] 7</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingSevenId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PizzaTypeObj.PizzaType.ToppingEightId">@Localizer["Pizza topping"] 8</label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.PizzaTypeObj.PizzaType.ToppingEightId,
                                                Model.PizzaTypeObj.ToppingsList,
                                                @Localizer["- Please select a Topping -"].Value,
                                                new { @class = "form-control" })

                    </div>
                </div>


                <div class="form-group row">

                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">

                                @if (Model.PizzaTypeObj.PizzaType.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">@Localizer["Update"]</button>
                                }
                                else
                                {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary form-control">@Localizer["Create"]</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">@Localizer["Back to List"]</a>
</div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.PizzaTypeObj.PizzaType != null)
            {
                <div class="col-4 p-4">
                    <img src="@Model.PizzaTypeObj.PizzaType.Image" style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" />
                </div>
            }
        </div>
    </div>

</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });

        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal(@Localizer["Error"], @Localizer["Please Select an Image"], @Localizer["error"])
                return false;
            }
            return true;
        };
    </script>
}