@page
@model Pizzerito.Pages.Admin.Order.OrderListModel
@using Pizzerito.Utility
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var status = HttpContext.Request.Query["status"];
    var cancelled = "text-primary";
    var completed = "text-primary";
    var inProcess = "text-primary";

    if (status == "cancelled")
    {
        cancelled = "active text-white";
    }
    else
    {
        if (status == "completed")
        {
            completed = "active text-white";
        }
        else
        {
            inProcess = "active text-white";
        }
    }
}

@if (User.IsInRole(SD.CustomerRole) || User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.FrontDeskRole) || User.IsInRole(SD.PizzaMakerRole))
{
    <div class="border backgroundWhite container">
        <div class="d-flex justify-content-around mb-3 flex-wrap flex-md-nowrap">
            <div class="p-2">
                <h2 class="text-primary font-weight-light">@Localizer["Order's List"]</h2>
            </div>
            <div class="input-group rounded-0 align-items-center">
                <label class="pr-2" for="datapicker">@Localizer["Date range"]</label>
                <input type="text" autocomplete="off" class="form-control" value="" id="datepicker">
            </div>
            <div class="p-2">
                <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item @cancelled"><a class="link-dark" asp-page="OrderList" asp-route-status="cancelled">@Localizer["Cancelled"] </a></li>
                    <li class="list-group-item @completed"> <a class="link-dark" asp-page="OrderList" asp-route-status="completed"> @Localizer["Completed"]</a> </li>              
                    <li class="list-group-item @inProcess"><a class="link-dark" asp-page="OrderList" asp-route-status="inProcess"> @Localizer["In process"] </a></li>
                </ul>
            </div>
        </div>
        <br />
        <table id="DT-load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>@Localizer["Order ID"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Email"]</th>
                    <th>@Localizer["Date Ordered"]</th>
                    <th>@Localizer["Order Total"]</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
}
else
{
    <header>
        <h1 class="text-danger">@Localizer["Access Denied"]</h1>
        <p class="text-danger">@Localizer["You do not have access to this resource."]</p>
    </header>
}

<style>

    tr td:nth-child(2) {
        text-transform: capitalize;
    }
</style>

@section Scripts{
    <script src="~/js/orderList.js"></script>

}

